@mixin logo-text ($font-size: 72px, $cursor: false, $tt: true) {
   font-weight: 900;
   font-family: "Proxima Nova";
   font-size: $font-size;
   color: #fff;
   text-decoration: none;

   @if $tt == false {
      text-transform: none;
   }

   @if $cursor == false { cursor: default; } 
   @else if $cursor == pointer { cursor: pointer }
}
