/* Fonts */

/* Avenir Black */
@font-face {
   font-family: 'Avenir';
   src: url('fonts/subset-AvenirLTStd-Black.eot');
   src: local('Avenir'), local('Avenir-Black'),
       url('fonts/subset-AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/subset-AvenirLTStd-Black.woff2') format('woff2'),
       url('fonts/subset-AvenirLTStd-Black.woff') format('woff'),
       url('fonts/subset-AvenirLTStd-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
   font-display: fallback;
}

/* Proxima Nova Thin */
@font-face {
   font-family: 'Proxima Nova';
   src: url('fonts/subset-ProximaNovaT-Thin.eot');
   src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
       url('fonts/subset-ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/subset-ProximaNovaT-Thin.woff2') format('woff2'),
       url('fonts/subset-ProximaNovaT-Thin.woff') format('woff'),
       url('fonts/subset-ProximaNovaT-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
   font-display: fallback;
}

/* proxima Nova Rgular */
@font-face {
   font-family: 'Proxima Nova';
   src: url('fonts/subset-ProximaNova-Regular.eot');
   src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
       url('fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
       url('fonts/subset-ProximaNova-Regular.woff') format('woff'),
       url('fonts/subset-ProximaNova-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: fallback;
}

/* Proxima Nova Bold */
@font-face {
   font-family: 'Proxima Nova';
   src: url('fonts/subset-ProximaNova-Bold.eot');
   src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
       url('fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
       url('fonts/subset-ProximaNova-Bold.woff') format('woff'),
       url('fonts/subset-ProximaNova-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: fallback;
}

/* -- Fonts end -- */

@import "mixins";

.logo-text { @include logo-text; }

$dimblue: #0f33ff;

* {
   font: inherit;
   font-family: "Proxima Nova";
   font-kerning: normal;
   color: #fff;
   text-decoration: none;
   transition: all .2s ease;
}

button, button:focus {
   border: none;
   outline: none;
   border-radius: 0px;
   cursor: pointer;
   background: transparent;
   text-transform: uppercase;
}

body {
   margin: 0;
   padding: 0;
   background-color: #000;
   perspective: 2000px;
}

#global-container {
   position: relative;
   top: 0;
   width: 100%;
   height: 100%;

   transition: all .3s ease;

   // overflow: hidden;
}

.minimized {
   transform-style: preserve-3d;
   pointer-events: none;
   outline: 30px solid $dimblue;
}

header {
   position: relative;
   display: grid;
   width: 100%;
   height: 70px;
   grid-template-columns: auto auto auto;
   align-content: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 16px;

   .logo {
      display: flex;
      align-items: center;
      margin-left: 54px;
      justify-self: left;

      a { margin-left: 15px; }
   }

   button#to-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 16px;
      margin-right: 54px;
      justify-self: right;
      background-color: transparent;
   }

   button#hire-us {
      width: 90px;
      height: 30px;
      justify-self: center;
      background-color: $dimblue;
      border: none;

      filter: opacity(0);
      pointer-events: none;
   }
} /* Header */

.side-map-wrap {
   position: absolute;
   display: flex;
   align-items: center;
   height: calc(100vh - 72px);
   width: 100px;
   margin-right: -100px;
   top: 70px;
   
   .side-map {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 570px;
      width: 100px;
   }

   .range {
      position: relative;
      width: 2px;
      height: 100%;
      background-color: #1b1b1b;

      .indicator {
         position: relative;
         width: 4px;
         height: 4px;
         margin-top: 28px;
         left: -1px;
         border-radius: 50%;
         background-color: #606060;

         &.active {
            span.num-active { filter: opacity(1); }
            span.num-passive { filter: opacity(0); }
            span.category {
               filter: opacity(1); 
               pointer-events: all;
            }
         }

         span {
            font-size: 14px;
            font-weight: 300;
            cursor: pointer;
         }

         span.num-active {
            position: absolute;
            top: -6px;
            left: -25px;
            filter: opacity(0);
            pointer-events: none;
         }

         span.num-passive {
            position: absolute;
            top: -6px;
            left: 10px;
            filter: opacity(.35);
         }

         span.category {
            position: absolute;
            top: -6px;
            left: 12px;
            filter: opacity(0);
            pointer-events: none;
         }
      }
   
      .one, .two, .three, .four, .five {
         background-color: #fff;
      }

   }
} /* .side-map-wrap */

.slide-1 {
   article {
      height: 450px;
      margin-left: 300px;
      margin-top: 150px;

      .logo-text {
         width: 450px;
         height: 220px;
         margin-left: 250px;
      }

      button.hire {
         position: relative;
         width: 103px;
         height: 33px;
         font-size: 14px;
         font-weight: bold;
         margin-left: 250px;
         overflow: hidden;

         &::after {
            content: "";
            position: absolute;
            display: block;   
            top: 0;
            left: 24px;
            z-index: -1;
            width: calc(100% + 24px);
            height: 100%;
            background-color: $dimblue;
            transition: all .2s ease;
         }

         &:hover::after { left: -24px; }
         
         
      }

      .astronaut {
         position: relative;
         display: block;
         left: 640px;
         bottom: 350px;
      }

      @media screen and (max-width: 1600px) {
         margin-left: 200px;
      }

      @media screen and (max-width: 1420px) {
         margin-left: 100px;
      }

      @media screen and (max-height: 821px) {
         margin-top: 100px;
      }

      @media screen and (max-height: 721px) {
         margin-top: 0;
      }
   } /* article */

   section {
      position: relative;
      display: grid;
      width: 920px;
      height: 150px;
      top: -14px;
      margin-left: 450px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 83px auto;
      border-top: 1px solid #151515;

      p { cursor: pointer; }

      .title {
         align-self: center;
         justify-self: center;
         font-weight: bold;
         font-size: 18px;
         text-transform: uppercase;
         color: #121212;

         &.active { color: #fff; }
      }

      p:not(.title) {
         margin-left: 50px;
         align-self: center;
         justify-self: center;
         word-wrap: break-word;
         width: 245px;
         color: #121212;

         &.active {
            color: #fff;
         }
      }

      @media screen and (max-width: 1500px) {
         margin-left: 350px;
      }

      @media screen and (max-width: 1320px) {
         margin-left: 250px;
      }
   }
} /* .slide1 */
